<a href="https://colab.research.google.com/github/dhwan-dj/AIB16_Section1-project/blob/main/S1_PJT_AI_16_%EA%B9%80%EB%8F%99%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [168]:
filename = '/content/drive/MyDrive/data/vgames2.csv'
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB

- 데이터는 데이터프레임 자료형으로, (16598,10)의 shape, 연도를 제외한 거의 문자열 자료형이다.

In [169]:
df.head(10)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
5,6,Power Pro Kun Pocket 8,DS,2005.0,Sports,Konami Digital Entertainment,0,0,0.14,0
6,7,JASF: Jane's Advanced Strike Fighters,PC,2011.0,Simulation,Deep Silver,0.02,0.01,0,0
7,8,Samurai Warriors: State of War,PSP,2005.0,Action,Tecmo Koei,0.07,0,0.11,0.01
8,9,Imabikisou,PS3,2007.0,Adventure,Sega,0,0,0.04,0
9,10,The Penguins of Madagascar: Dr. Blowhole Retur...,PS3,2011.0,Action,THQ,0.04,0.03,0,0.01

- 인덱스열이 있는데 순위를 가진 데이터는 아닌것 같고, 연도에 소수점이 보이고, 판매량은 float로 타입변경이 필요해보인다.
- 데이터파일 자체로 봤을때 판매량에 알파벳이 섞여있다.

In [170]:
df.duplicated().sum() #중복행 확인

0

In [171]:
df.isna().any() #결측열 확인

Unnamed: 0     False
Name           False
Platform       False
Year            True
Genre           True
Publisher       True
NA_Sales       False
EU_Sales       False
JP_Sales       False
Other_Sales    False
dtype: bool

In [172]:
df[df.isna().any(axis=1)] #결측행 확인

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,32,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
50,51,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
109,110,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
272,273,UK Truck Simulator,PC,2010.0,Simulation,NaN,0,0.03,0,0
273,274,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
...,...,...,...,...,...,...,...,...,...,...
16425,16426,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16431,16432,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16432,16433,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01
16555,16556,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,16588,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [173]:
# 정제단계 시행전 원본 DataFrame을 유지하기 위하여 카피
df_clean = df.copy()

In [174]:
# Publisher의 결측값은 분석결과에 큰 영향이 없을것이라 판단하고 Unknown 으로 바꿔줘야겠다. 먼저 개수 파악.
df_clean[df_clean.Publisher.isna()].shape

(58, 10)

In [175]:
df_clean.loc[:, ['Publisher']] = df_clean.loc[:, ['Publisher']].fillna('Unknown')

#채우고 나서 개수 파악.
df_clean.Publisher.isna().sum()

0

In [176]:
df_clean.isna().any()

Unnamed: 0     False
Name           False
Platform       False
Year            True
Genre           True
Publisher      False
NA_Sales       False
EU_Sales       False
JP_Sales       False
Other_Sales    False
dtype: bool

In [177]:
# Year, Genre 결측행은 처리 방법이 마땅치 않으므로 drop해준다.
df_clean = df_clean.dropna().reset_index(drop=True)

# 다시 결측값 확인
df_clean.isna().any()

Unnamed: 0     False
Name           False
Platform       False
Year           False
Genre          False
Publisher      False
NA_Sales       False
EU_Sales       False
JP_Sales       False
Other_Sales    False
dtype: bool

In [178]:
# 'Unnamed: 0'열은 용도가 없으므로 삭제
df_clean = df_clean.drop(['Unnamed: 0'], axis=1)
df_clean

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16272,Ice Age 2: The Meltdown,GC,2006.0,Platform,Vivendi Games,0.15,0.04,0,0.01
16273,Rainbow Islands: Revolution,PSP,2005.0,Action,Rising Star Games,0.01,0,0,0
16274,NBA 2K16,PS3,2015.0,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16275,Toukiden: The Age of Demons,PSV,2013.0,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16276,The King of Fighters '95,PS,1996.0,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [179]:
# Year 열의 소수점을 제거해준다.
df_clean = df_clean.astype({'Year':'int'})
df_clean # 소수 첫째자리는 그대로 표시됨.

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0,0,0
1,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...,...
16272,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0,0.01
16273,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0,0,0
16274,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
16275,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
16276,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0,0,0.16,0.01

In [180]:
# Sales 열에 문자와 섞여있는 행을 확인해본다.
import re

def chk_error(input):
  return bool(re.search('[a-zA-Z]', input))

error_NA = df_clean.NA_Sales.apply(chk_error)
error_na_sales = df_clean[error_NA]
error_na_sales

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
10,Ford Racing,PS,2001,Racing,Empire Interactive,480K,0.33M,0K,0.06
44,Resident Evil: Revelations 2,PS3,2015,Action,Capcom,60K,0.08,0.16,0.03
142,TOCA Race Driver 3,PC,2006,Racing,Codemasters,0K,0.02,0,0
440,Medal of Honor: Warfighter,X360,2012,Action,Electronic Arts,0.58M,0.47,0.01,0.1
451,F1 2010,PS3,2010,Racing,Codemasters,0.25M,0.76,0.08,0.27
...,...,...,...,...,...,...,...,...,...
16014,Midway Arcade Treasures,PS2,2003,Misc,Midway Games,720K,0.56,0,0.19
16092,NASCAR 06: Total Team Control,PS2,2005,Racing,Electronic Arts,0.53M,0.02,0,0.09
16163,Super Robot Taisen F Kanketsuhen,SAT,98,Strategy,Banpresto,0M,0,0.55,0
16173,Mortal Kombat,PSV,2012,Fighting,Warner Bros. Interactive Entertainment,470K,0.18,0,0.12
16258,Gex: Enter the Gecko,PS,1998,Platform,BMG Interactive Entertainment,320K,0.22,0,0.04

In [181]:
from sre_parse import SRE_FLAG_LOCALE
# 각 Sales 열의 숫자와 단위문자를 별도로 추출해 분석가능한 실수형으로 변환해주는 함수를 정의한다.
# 데이터를 봤을때 M이 붙은 숫자와 안붙은 숫자의 소수점이 비슷하다는 점에서 (Million, 백만) 단위로 추정
# 따라서 K(Kilo, 1000)의 경우, 0.001M로 변환하는 것이 타당하다고 판단

def convert(sales):
  if re.search(r'K',sales):     #판매량에 K 포함시
    num = sales[:-1]            #맨뒤 알파벳 제거
    num = float(num)
    scale = 0.001               #숫자에 0.001을 곱한다
    sales = num * scale
  elif re.search(r'M',sales):   #판매량에 M 포함시
    num = sales[:-1]            #맨뒤 알파벳 제거
    num = float(num)
    scale = 1                   #나머지 경우는 그대로 실수형으로 활용한다.
    sales = num * scale
  else:
    scale = 1
    num = sales
    num = float(num)
    sales = num * scale
  return sales

In [185]:
df_clean.NA_Sales = df_clean.NA_Sales.apply(str)
df_clean.EU_Sales = df_clean.EU_Sales.apply(str)
df_clean.JP_Sales = df_clean.JP_Sales.apply(str)
df_clean.Other_Sales = df_clean.Other_Sales.apply(str)

In [186]:
df_clean.NA_Sales = df_clean.NA_Sales.apply(convert)
df_clean.EU_Sales = df_clean.EU_Sales.apply(convert)
df_clean.JP_Sales = df_clean.JP_Sales.apply(convert)
df_clean.Other_Sales = df_clean.Other_Sales.apply(convert)

In [194]:
# 제대로 정제되었는지 의심되어 문자열로 다시 바꾼후 알파벳 포함되었는지 검사했다.
#df_clean.Other_Sales = df_clean.Other_Sales.apply(str)
#error = df_clean.Other_Sales.apply(chk_error)
#error_sales = df_clean[error]
#error_sales

Empty DataFrame
Columns: [Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

- Year 열에 숫자 한,두개만 있는 데이터들을 발견했다. 통계값으로 살펴봐야 하겠다.

In [ ]:
# 품질 이슈 : Year와 Sales의 이상치 제거